In [95]:
import pybaseball
import pandas as pd
import numpy as np
import tensorflow as tf

In [96]:
from pybaseball import statcast

In [97]:
data = statcast(start_dt='2017-06-24', end_dt='2017-06-27')

This is a large query, it may take a moment to complete

100%|██████████| 4/4 [00:02<00:00,  1.62it/s]

In [98]:
print(len(data.index))

15949

In [99]:
data.head(200)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
3323,CU,2017-06-27,79.7,-1.34,5.41,"Bush, Matt",608070,456713,field_out,hit_into_play,...,2,2,1,1,2,Standard,Strategic,51,-0.096,-0.227
3416,FF,2017-06-27,98.1,-1.35,5.42,"Bush, Matt",429665,456713,field_out,hit_into_play,...,2,2,1,1,2,Standard,Strategic,204,-0.11,-0.292
3545,FF,2017-06-27,98.3,-1.29,5.45,"Bush, Matt",429665,456713,NaN,ball,...,2,2,1,1,2,Standard,Strategic,202,0.0,0.023
3640,FC,2017-06-27,90.9,-1.46,5.25,"Bush, Matt",429665,456713,NaN,called_strike,...,2,2,1,1,2,Standard,Strategic,142,0.0,-0.046
3815,SI,2017-06-27,99.1,-1.37,5.34,"Bush, Matt",488726,456713,single,hit_into_play,...,2,2,1,1,2,Standard,Strategic,230,0.098,0.263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,SL,2017-06-27,84.0,-1.7,6.7,"Ross, Tyson",543401,475115,field_out,hit_into_play,...,0,0,1,1,0,Standard,Standard,65,-0.03,-0.271
1605,FF,2017-06-27,88.9,-1.86,6.74,"Ross, Tyson",543401,475115,NaN,foul,...,0,0,1,1,0,Standard,Standard,183,0.0,-0.086
1648,SL,2017-06-27,87.4,-1.83,6.68,"Ross, Tyson",543401,475115,NaN,ball,...,0,0,1,1,0,Standard,Standard,153,0.0,0.042
1673,SL,2017-06-27,84.3,-1.93,6.68,"Ross, Tyson",543401,475115,NaN,called_strike,...,0,0,1,1,0,Standard,Standard,160,0.0,-0.061
1711,FF,2017-06-27,92.9,-1.79,6.69,"Ross, Tyson",543228,475115,walk,ball,...,0,0,1,1,0,Standard,Standard,198,0.032,0.233

In [100]:
# Creating a dataframe with 75%
# values of original dataframe
train_df = data.sample(frac = 0.75)
 
# Creating dataframe with
# rest of the 25% values
test_df = data.drop(train_df.index)



print("\n75% of the given DataFrame:")
print(train_df)
 
print("\nrest 25% of the given DataFrame:")
print(test_df)

75% of the given DataFrame:
     pitch_type  game_date  release_speed  release_pos_x  release_pos_z  \
296          SI 2017-06-24           86.4           2.32            5.8
2800         FF 2017-06-24           89.0          -3.04           5.78
4489         FF 2017-06-25           94.6            1.8           6.21
2853         SL 2017-06-27           87.3          -3.37           4.74
226          CU 2017-06-26           74.8           1.82           5.95
...         ...        ...            ...            ...            ...
191          CH 2017-06-24           77.1          -0.89           6.55
3694         FF 2017-06-24           95.4          -1.51           5.62
1872         SL 2017-06-26           84.2           1.62           6.08
3587         SL 2017-06-27           83.8          -2.38           6.56
1551         SI 2017-06-27           90.4          -1.73           5.82

          player_name  batter  pitcher     events    description  ...  \
296     Vargas, Jason  456665   450306  strikeout  called_strike  ...
2800     Blanton, Joe  594807   430599  field_out  hit_into_play  ...
4489   García, Jarlín  543557   606424        NaN  called_strike  ...
2853   Givens, Mychal  453064   571710        NaN  called_strike  ...
226        Hill, Rich  592743   448179  field_out  hit_into_play  ...
...               ...     ...      ...        ...            ...  ...
191    Estrada, Marco  461235   462136        NaN           ball  ...
3694      Allen, Cody  572821   592102   home_run  hit_into_play  ...
1872      Grace, Matt  519203   594840        NaN           foul  ...
3587    Belisle, Matt  571918   279571  field_out  hit_into_play  ...
1551  Chacín, Jhoulys  542255   468504        NaN           ball  ...

      fld_score  post_away_score  post_home_score  post_bat_score  \
296           2                1                2               1
2800         14                2               14               2
4489          3                2                3               2
2853          3                3                0               0
226           0                3                0               3
...         ...              ...              ...             ...
191           2                2                2               2
3694          2                3                2               3
1872          0                2                0               2
3587          1                1                6               6
1551          0                0                0               0

      post_fld_score if_fielding_alignment of_fielding_alignment spin_axis  \
296                2              Standard              Standard       160
2800              14              Standard              Standard       199
4489               3              Standard              Standard       150
2853               3         Infield shift              Standard       110
226                0              Standard              Standard       320
...              ...                   ...                   ...       ...
191                2         Infield shift              Standard       216
3694               2         Infield shift              Standard       208
1872               0         Infield shift              Standard       264
3587               1              Standard              Standard       164
1551               0              Standard              Standard       257

     delta_home_win_exp delta_run_exp
296               0.043        -0.216
2800              0.001        -0.361
4489                0.0        -0.046
2853                0.0        -0.037
226               0.005        -0.106
...                 ...           ...
191                 0.0         0.036
3694             -0.253         0.923
1872                0.0         -0.09
3587             -0.002        -0.208
1551                0.0         0.026

[11962 rows x 92 columns]

rest 25% of the given DataFrame:
     pitch_type  game_date  release_speed  release_pos_x  release_pos_z  \
4351         CU 2017-06-27           76.7          -1.96           6.44
4482         SL 2017-06-27           83.5           2.14           5.08
3237         FF 2017-06-27           92.5          -1.75            6.7
3527         FF 2017-06-27           92.2          -1.88           6.51
2746         FF 2017-06-27           97.6           1.72           5.39
...         ...        ...            ...            ...            ...
3191         FF 2017-06-24           97.3          -0.72           6.49
3237         FF 2017-06-24           98.8          -0.77           6.52
4261         SL 2017-06-24           85.1          -0.91           6.54
2673         CH 2017-06-24           86.5           1.99           6.27
3135         SI 2017-06-24           90.3          -3.22           5.95

          player_name  batter  pitcher     events    description  ...  \
4351      Kela, Keone  605548   605309        NaN  called_strike  ...
4482   Miller, Andrew  596059   453192        NaN  called_strike  ...
3237      Ross, Tyson  488726   475115        NaN           ball  ...
3527      Ross, Tyson  596019   475115  field_out  hit_into_play  ...
2746  Vázquez, Felipe  605480   553878        NaN           ball  ...
...               ...     ...      ...        ...            ...  ...
3191      Báez, Pedro  571448   520980        NaN           foul  ...
3237      Báez, Pedro  518934   520980     single  hit_into_play  ...
4261      Báez, Pedro  642162   520980        NaN  called_strike  ...
2673     Rusin, Chris  624577   543734        NaN           ball  ...
3135        Ross, Joe  594807   605452        NaN           ball  ...

      fld_score  post_away_score  post_home_score  post_bat_score  \
4351          1                1                1               1
4482          1                1                1               1
3237          0                0                0               0
3527          0                0                0               0
2746          2                4                2               4
...         ...              ...              ...             ...
3191          4                0                4               0
3237          4                0                4               0
4261          4                0                4               0
2673          0                0                4               4
3135          0                0                0               0

      post_fld_score if_fielding_alignment of_fielding_alignment spin_axis  \
4351               1              Standard             Strategic         5
4482               1         Infield shift              Standard       249
3237               0              Standard              Standard       221
3527               0              Standard              Standard       230
2746               2              Standard              Standard       164
...              ...                   ...                   ...       ...
3191               4              Standard              Standard       208
3237               4             Strategic              Standard       194
4261               4              Standard              Standard       155
2673               0              Standard              Standard       122
3135               0              Standard              Standard       226

     delta_home_win_exp delta_run_exp
4351                0.0        -0.084
4482                0.0        -0.037
3237                0.0         0.064
3527             -0.033        -0.358
2746                0.0         0.031
...                 ...           ...
3191                0.0        -0.032
3237             -0.006         0.138
4261                0.0        -0.037
2673                0.0         0.174
3135                0.0         0.031

[166 rows x 92 columns]

In [101]:
cut_train_df = train_df[['release_speed', 'release_pos_x', 'release_pos_z', 'spin_axis']].dropna()

In [102]:
cut_test_df = test_df[['release_speed', 'release_pos_x','release_pos_z','spin_axis']].dropna()

In [103]:
cut_test_df.head(20)

      release_speed  release_pos_x  release_pos_z  spin_axis
4351           76.7          -1.96           6.44          5
4482           83.5           2.14           5.08        249
3237           92.5          -1.75            6.7        221
3527           92.2          -1.88           6.51        230
2746           97.6           1.72           5.39        164
4401           95.2          -1.91           5.51        200
1655           90.2          -2.04           6.11        230
4215           93.0           2.54           5.98        136
4467           93.5           -2.2           5.87        218
258            77.7          -2.33           4.96         64
3985           93.4          -1.78           5.75        242
4386           90.5           0.96            6.0        144
2860           96.9           0.38           6.58        162
4352           95.7           0.45            6.6        155
4447           82.9          -2.24           6.39         24
2835           78.5          -1.71           6.27        219
3182           90.9           -0.8           6.21        204
3682           97.6          -1.43           5.75        202
1278           96.1          -2.24           5.97        224
2812           95.4           -2.3           6.16        216

In [104]:
# Calculate the Z-scores of each column in the training set:
cut_train_df_mean = cut_train_df.mean()
cut_train_df_std = cut_train_df.std()
cut_train_df_norm = (cut_train_df - cut_train_df_mean)/cut_train_df_std

In [105]:
# Calculate the Z-scores of each column in the test set.
cut_test_df_mean = cut_test_df.mean()
cut_test_df_std = cut_test_df.std()
cut_test_df_norm = (cut_test_df - cut_test_df_mean)/cut_test_df_std

cut_test_df_norm.head()

      release_speed  release_pos_x  release_pos_z  spin_axis
4351      -2.164119      -0.592644       1.026245  -2.718141
4482      -1.027083       1.616544       -1.55345   0.946339
3237       0.477819       -0.47949       1.519422   0.525825
3527       0.427656      -0.549537       1.159023    0.66099
2746       1.330596       1.390237      -0.965431  -0.330222

In [106]:
print(cut_test_df_norm.dtypes)

release_speed    Float64
release_pos_x    Float64
release_pos_z    Float64
spin_axis        Float64
dtype: object

In [107]:
#tensorflow data representation

In [108]:
# Create an empty list that will eventually hold all created feature columns.
feature_columns = []

In [109]:
# We scaled all the columns, including latitude and longitude, into their
# Z scores. So, instead of picking a resolution in degrees, we're going
# to use resolution_in_Zs.  A resolution_in_Zs of 1 corresponds to 
# a full standard deviation. 
resolution_in_Zs = 0.3  # 3/10 of a standard deviation.

In [110]:
# Create a bucket feature column for release position x.
release_pos_x_as_a_numeric_column = tf.feature_column.numeric_column("release_pos_x")
release_pos_x_boundaries = list(np.arange(int(min(cut_train_df_norm['release_pos_x'])), 
                                     int(max(cut_train_df_norm['release_pos_x'])), 
                                     resolution_in_Zs))
release_pos_x = tf.feature_column.bucketized_column(release_pos_x_as_a_numeric_column, release_pos_x_boundaries)

In [111]:
# Create a bucket feature column for release position z.
release_pos_z_as_a_numeric_column = tf.feature_column.numeric_column("release_pos_z")
release_pos_z_boundaries = list(np.arange(int(min(cut_train_df_norm['release_pos_z'])), 
                                      int(max(cut_train_df_norm['release_pos_z'])), 
                                      resolution_in_Zs))
release_pos_z = tf.feature_column.bucketized_column(release_pos_z_as_a_numeric_column, 
                                                release_pos_z_boundaries)

In [112]:
# Create a feature cross of release pos x and y
release_x_by_release_z = tf.feature_column.crossed_column([release_pos_x, release_pos_z], hash_bucket_size=100)
crossed_feature = tf.feature_column.indicator_column(release_x_by_release_z)
feature_columns.append(crossed_feature)

In [113]:
# Represent release speed as a floating-point value.
release_speed = tf.feature_column.numeric_column("release_speed")
feature_columns.append(release_speed)

In [114]:
# Convert the list of feature columns into a layer that will later be fed into
# the model. 
my_feature_layer = tf.keras.layers.DenseFeatures(feature_columns)

In [116]:
def create_model(my_learning_rate, my_feature_layer):
  """Create and compile a simple linear regression model."""
  # Most simple tf.keras models are sequential.
  model = tf.keras.models.Sequential()

  # Add the layer containing the feature columns to the model.
  model.add(my_feature_layer)

  # Describe the topography of the model by calling the tf.keras.layers.Dense
  # method once for each layer. We've specified the following arguments:
  #   * units specifies the number of nodes in this layer.
  #   * activation specifies the activation function (Rectified Linear Unit).
  #   * name is just a string that can be useful when debugging.

  # Define the first hidden layer with 20 nodes.   
  model.add(tf.keras.layers.Dense(units=20, 
                                  activation='relu', 
                                  name='Hidden1'))
  
  # Define the second hidden layer with 12 nodes. 
  model.add(tf.keras.layers.Dense(units=12, 
                                  activation='relu', 
                                  name='Hidden2'))
  
  # Define the output layer.
  model.add(tf.keras.layers.Dense(units=1,  
                                  name='Output'))                              
  
  model.compile(optimizer=tf.keras.optimizers.Adam(lr=my_learning_rate),
                loss="mean_squared_error",
                metrics=[tf.keras.metrics.MeanSquaredError()])

  return model

In [117]:
def train_model(model, dataset, epochs, label_name,
                batch_size=None):
  """Train the model by feeding it data."""

  # Split the dataset into features and label.
  features = {name:np.array(value) for name, value in dataset.items()}
  label = np.array(features.pop(label_name))
  history = model.fit(x=features, y=label, batch_size=batch_size,
                      epochs=epochs, shuffle=True) 

  # The list of epochs is stored separately from the rest of history.
  epochs = history.epoch
  
  # To track the progression of training, gather a snapshot
  # of the model's mean squared error at each epoch. 
  hist = pd.DataFrame(history.history)
  mse = hist["mean_squared_error"]

  return epochs, mse

In [119]:
# The following variables are the hyperparameters.
learning_rate = 0.01
epochs = 20
batch_size = 1000

# Specify the label
label_name = "spin_axis"


# Establish the model's topography.
my_model = create_model(learning_rate, my_feature_layer)

In [120]:
# Train the model on the normalized training set. We're passing the entire
# normalized training set, but the model will only use the features
# defined by the feature_layer.
epochs, mse = train_model(my_model, cut_train_df_norm, epochs, 
                          label_name, batch_size)
plot_the_loss_curve(epochs, mse)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [35]:
# After building a model against the training set, test that model
# against the test set.
test_features = {name:np.array(value) for name, value in cut_test_df_norm.items()}
test_label = np.array(test_features.pop(label_name)) # isolate the label
print("\n Evaluate the new model against the test set:")
my_model.evaluate(x = test_features, y = test_label, batch_size=batch_size)

 Evaluate the new model against the test set:

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).